.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 40px;
}

.navLogo {
    font-size: 40px;
    margin: 0px 50px;
    padding: 0px;
}

.navList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navLink {
    display: inline;
    margin: 5px;
}