body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

/* This ^^^ affects all fonts. Put somewhere else since it's global. */
.portfolioSection {
    background-color: #1b243f;
}

.portfolioTitle {
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    margin: 0px 20px 45px;
    padding: 0px;
}

.buttonStart, .buttonGithub {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 1px 3px 9px 3px rgba(0,0,0,0.11);
}

.buttonStart {
    background-color: #0ab3af;
}

.buttonGithub {
    background-color: #1b243f;
}

.buttonStart:hover {
    transform: rotate(5deg);
    transition: 0.3s;
}

.buttonGithub:hover {
    transform: rotate(-5deg);
    transition: 0.3s;
}

.cardRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.card {
    background-color: #ffffff;
    color: #1b243f;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 rgba(104, 104, 104, 0.2);
    transition: 0.3s;
    height: auto;
    width: 300px;
    margin: 12px;
}

.card:hover {
    box-shadow: 0 0 40px 15px rgba(255, 255, 255, 0.2);
    width: 333px;
    transition: .3s;
}

.cardContainer {
    padding: 2px 16px;
}

.cardImage {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.cardText {
    font-family: 'Roboto', Helvetica, sans-serif;
    word-wrap: break-word;
}

.buttonStart {
    margin-right: 10px;
}

.icon {
    margin-right: 7px;
}